.companies{
    @include flex(space-evenly, center);
    
    margin: 12.5rem auto;
    &-img{
        width: 50%;
        
        img{
            width: 100%;
        }

        @include mobile{
            width: 100%;
            padding: 0 15px;
        }
    }
    &-content{
        width: 35%;
        p{
            color: $color-black;
        }

        @include mobile{
            width: 100%;
            padding: 0 15px;
        }
    
    }


    @include mobile{
        display: block;
    }
    @include customize(1501px, 100vw){
        width: 1500px;
        
    }
}