.easy{
    background-color: #E9ECF1;
    padding: 10.7rem 0;
    margin-top: 15rem;
    .easy-main{
        @include flex(space-between,center);
        @include mobile{
            display: block;
        }
    }
    &-heading{
        width: calc(20% - 3.3rem);
        margin-left: 3.3rem;
       h3{
        font-weight: 500;
       }
       @include mobile{
           width: 100%;
           text-align: center;
           margin-left: 0;
       }
    }
    &-list{
        @include flex(center, center);
        align-self: stretch;
        width: 80%;
        flex-wrap: wrap;
        .easy-item{

            height: 27rem;
            width: calc(33.333% - 6.4rem);
            margin-left: 6.4rem;
            background-color: $color-white;
            align-self: stretch;
            position: relative;
            img{
                position: absolute;
                top: 4.4rem;
                left: 4.4rem;
            }

            span{
                font-family: myfont;
                font-weight: 500;
                font-size: 5.6rem;
                line-height: 5.6rem;
                letter-spacing: -0.1rem;
                text-align: right;
                color: #1729401A;
                position: absolute;
                top: 1.9rem;
                right: 2rem;
            }
            p{
                width: 70%;
                font-weight: bold;
                font-size: 2rem;
                line-height: 2.8rem;
                position: absolute;
                top: 60%;
                left: 60%;
                transform: translate(-60%,-60%);
            }

            @include mobile{
                width: 100%;
                margin-bottom: 1.5rem;
                margin-left: 0;
            }

           
        }
        @include mobile{
            display: block;
            width: 100%;
        }
    }

    
}
