header{
    background-color: #243549;
    
    @include tablet{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
}
.header{
    @include flex (space-between, center);
    padding: 1.5rem 4rem;
    &-left{
        @include flex (space-between, center);

        .header-logo{
            padding-right: 4rem;
            z-index: 5;
        }

        ul{
            @include flex(space-around, center);
            
            li{
                font-weight: bold;


                a{
                    color: #e6dedef1;
                    font-size: 1.2rem;
                    line-height: 2.2rem;
                    padding: 0 3.2rem;
                    border-left: 1px solid #b4b0b0d8 ;
                    text-transform: uppercase;
                    @include tablet{
                        border-left: none;
                    }
                }
            }
            @include tablet{
                @include flex(flex-start,center);
                position: fixed;
                top: 0;
                left: -100%;
                flex-direction: column;
                width: 100%;
                // height: 100vh;
                padding: 10rem 0;
                transition: .3s;
                background-color: $color-blue;
                color: $color-white;
                

                li~li{
                    padding-top: 5rem;
                }
                &.active{
                    left: 0;
                }
            }
            
        }
    }
    &-btn{
        background-color: $color-white;
        width: 21.8rem;
        height: 5rem;
        &:hover{
            background-color: $color-blue;
            color: $color-white;
        }
        @include tablet{
            display: none;
        }
    }

    &-icon{
        display: none;
        font-size: 5rem;
        color: $color-white;
        @include tablet{
            display: block;
            position: fixed;
            right: 4rem;
            z-index: 5;
        }
    }
    @include tablet{
        .header-logo{
            padding-right: 2rem;
        }
        ul li a{
            padding: 0 1.2rem;
        }
    }
    

    @include customize(1025px , 1253px){
        
        ul li a{
            padding: 0 1.2rem;
        }
    }
    @include customize(1501px, 100vw){
        margin: 0 auto;
        width: 1500px;
        
    }
}