.idea{
    padding: 15rem 0;
    &-heading{
        width: 65%;
        margin-bottom: 11.1rem;
        h3{
            font-weight: 500;
            text-transform: uppercase;
        }

        @include mobile{
            width: 100%;
        }
    }
    &-list{
        @include flex(center,center);
        gap: 0 3.4rem;

        .idea-item{
            background-color: $color-white;
            padding: 0 3rem;

            &-up{
                position: relative;
                display: flex;
                img{
                    margin-top: -4.3rem;
                }
                i{
                    position: absolute;
                    font-size: 2.3rem;
                    top: -1.2rem;
                    left: 38%;
                    color: #A6B4C6;
                    

                    
                    @include tablet{
                        left: 50%;
                    }
                }
                .idea-info{
                    margin: 4rem 0 0 2rem;

                    .name{
                        font-family: $font-sub;
                        font-weight: 700;
                        font-size: 2rem;
                        line-height: 3rem;
                        color: $color-black;
                    }
                    .position{
                        font-family: $font-sub;
                        font-weight: 400;
                        font-size: 1.4rem;
                        line-height: 2.2rem;
                        color: $color-black;
                    }
                }
            }
            .discrip{
                margin: 4rem 0;
                color: #232327E5;

            }

            @include mobile{
                margin-top: 5rem;
            }
        }

        @include mobile{
            display: block;
        }

    }
}