.opportunities{
    @include flex(center,center);
    padding: 10rem 0;
    &-img{
        width: 50%;
        img{
            width: 100%;
        }
        @include mobile{
            display: none;
        }
    }
    &-content{
        width: calc(50% - 12.4rem);
        margin-left: 12.4rem;

        h3{
            color: $color-white;
        }
        p{
            color: $color-white;
            margin-top: 2.8rem;
        }
        .opportunities-btn{
            width: 17.7rem;
            height: 6.5rem;
            border-radius: 4rem;
            background-color: $color-blue;
            color: $color-white;
            margin-top: 7rem;

            &:hover{
                background-color: $color-black;
            }
        }

        @include mobile{
            width: 100%;
            margin-left: 0; 
        }
    }
    @include mobile{
        display: block;
    }
}