.planet{
    @include flex(space-between, center);
    margin-bottom: 15rem;
    margin: 0 auto;
    &-content{
        @include flex(center,center);
        width: 55%;
        padding: 0 15px;
        .main-content{
            max-width: 63.9rem ;
            width: 100%;
            @include flex(center,center);
            flex-direction: column;
            h3{
                margin-bottom: 2.5rem;
            }
            .planet-content-item{
                @include flex(space-between,null);
                border-top: 1px solid #2323271A;
                padding: 5.2rem 0;
                p:first-child{
                    font-weight: 700;
                    width: 30%;;
                }
                p:last-child{
                    width: 65%;
                    
                }
            }
        }
        @include mobile{
            width: 100%;
        }
    }

    &-img{
        width: 40%;
        @include flex(center, center);
        img{
            max-width: 100%;
        }
        @include mobile{
            width: 100%;
            padding: 0 15px;
        }
    }
    @include mobile{
        display: block;
    }
    @include customize(1501px, 100vw){
        width: 1500px;
    }
}