.startup{
    @include flex(center,center);
    padding: 15rem 0;
    &-left{
        width: 35%;
        
        h3{

            width: 80%;
            font-family: myfont;
            font-weight: 400;
            font-size: 9rem;
            line-height: 9rem;
            letter-spacing: -0.1rem;
            color: $color-blue;


            @include mobile{
                width: 100%;
            }
        }
        .slider{
            margin-top: 22rem;  
            height: 25rem;
            
            &-img{
                background-color: #F4F6F8;
                margin-top: 2rem;

                img{
                    display: inline-block;
                    padding: 3.4rem 8.8rem 4.6rem 11.3rem;
                    width: 100%;
                }
            }
            .owl-nav{
                position: absolute;
                top: -7.4rem;
                right: 0;
                font-size: 4rem;
            }
            .owl-dots{
                display: none;
            }
            .owl-item{
                margin-right: 1.3rem !important;
            }
            .owl-prev span, .owl-next span {
                display: block !important;
                height: 6rem;
                width: 6rem;
                background-color: #1729400D !important;
            }
        }
        @include mobile{
            width: 100%;   
        }
    }

    &-right{
        width: calc(65% - 3.2rem);
        height: 100%;
        margin-left: 3.2rem;
        padding: 7.6rem 9rem 3.5rem;
        background-color: #3DAE73;
        &-heading{
            h4{
                font-family: myfont;
                font-weight: 500;
                font-size: 5.6rem;
                line-height: 5.6rem;
                letter-spacing: -0.1rem;
                color: $color-white;
                text-transform: uppercase;
                width: 75%;
            }
        }
        &-content{
            margin-top: 3.2rem;
            padding-bottom: 5.2rem;
            border-bottom: 1px solid #FFFFFF; ;

            p{
                font-family: $font-sub;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.6rem;
                color: $color-white;
            }
        }


        .cost{
            @include flex(&,center);
            gap: 0 4.7rem;
            margin-top: 2.8rem;
            &-item{
                
                h4{
                    font-family: myfont;
                    font-weight: 400;
                    font-size: 5.6rem;
                    line-height: 5.6rem;
                    letter-spacing: -0.1rem;
                    color: $color-white;
                }
                p{
                    font-family: $font-sub;
                    font-weight: bold;
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                    color: $color-white;
                }
            }
            @include mobile{
                justify-content: space-between;
                gap: 0;
            }
        }
        @include mobile{
            width: 100%;
            margin-top: 15rem;
            margin-left: 0 ;
            
        }
    }


    @include mobile{
        display: block;
    }
}