@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@font-face {
    font-family: myfont;
    src: url(../assets/AlternateGothicNo1DRegular/Alternate\ Gothic\ No1\ D\ Regular.otf);
}

$font-sub:'Oxygen', sans-serif;
$color-blue: #204370;
$color-black: #232327;
$color-black-primary: #2A2A2A;
$color-white-primary: #e6dedef1;
$color-white: #FFFFFF;

